@import "../../scss/variables.scss";

.alert {
	width: 300px;
	height: 80px;
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.05);
	backdrop-filter: blur(20px);
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	top: 25px;
	display: flex;
	justify-content: center;
	align-items: center;

	@-moz-document url-prefix() {
		background: rgba(0, 0, 0, 0.5);
	}
}

.alert__text {
	font-size: 20px;
	color: $standardWhite;
	text-align: center;
}