@import "./variables.scss";

body {
	font-family: "M PLUS Rounded 1c", sans-serif;
}

* {
	font-family: inherit;
	transition: 0.5s opacity;
}

.transition_active {
	opacity: 0;
}

.wrapper {
	height: 100vh;
	width: 100%;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	transition: 2s background-image;
	@media screen and (max-width: $medium) {
		height: auto;
	}
}

@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap");
